@import "tailwindcss";
/* @import "tailwindcss/preflight"; */

.light-mode {
    --bg-color: #ffffff;
    --text-color: #333333;
}
  
.dark-mode {
    --bg-color: #333333;
    --text-color: #ffffff;
}

body {
    transition: background-color 0.5s, color 0.5s;
    background-color: var(--bg-color);
    color: var(--text-color);
}
 
.cart-icon:hover .cart-dropdown,
.wishlist-icon:hover .wishlist-dropdown {
    display: block;
}
  